		*{
			padding: 0;
			margin: 0;
			text-decoration: none;
			list-style: none;
		}
		:root{
	--header-height: 3rem;
	--font-semi: 600;
}

/* colores ==*/
:root{
	--firs-color: #4070F4;
	--second-color:#0E2431;
}


/* FUENTE Y TIPOGRAFIA */
:root{
	--body-font:'Poppins', sans-serif;
	--big-font-size: 2rem;
	--h2-font-size: 1.25rem;
	--normal-font-size: 0.938rem;
}
@media screen and (min-width: 768px){
	:root{
	--big-font-size: 3.5rem;
	--h2-font-size: 2rem;
	--normal-font-size: 1rem;
	}
}
/* margenes == */
:root{
	--mb-1: 0.5rem;
	--mb-2: 1rem;
	--mb-3: 1.5rem;
	--mb-4: 2rem;
	--mb-5: 2.5rem;
	--mb-6: 3rem;
}
/* z index */
:root{
	--z-back: -10; 
	--z-normal: 1;
	--z-tooltip: 10;
	--z-fixed: 100;
}
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%; 
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
/* base */
*,::before,::after{
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}

h1,h2,p{
margin: 0;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;

}
img{
	max-width: 100%;
	height: auto;
	display: block;
}

		body{
			font-family:montserrat;
		}
		nav{
			height: 80px;
			width: 100%;
			margin-bottom: 20px;
		}
		label.logo{
			font-size:35px;
			font-weight: bold;
			color: white;
			padding:  30px;
			line-height: 30px;
			color: #fff;
		}
		nav ul{
			float: right;
			margin-right: 30px;
		}
		nav li{
			display: inline-block;
			margin: 0 8px;
			line-height: 80px;
		}
		nav a{
			font-size: 18px;
			text-transform: uppercase;
			border: 1px solid transparent; 
			padding: 7px 10px;
			border-radius: 3px;
		}
		#link{
			color: #fff;
		}
		.navbar a.active, .navbar a:hover{
			border: 1px solid #fff;
			transition:.5s; 
			text-decoration: none;
		}
		nav #icon{
			color: white;
			font-size: 30px;
			line-height: 80px;
			float: right;
			margin-right: 30px;
			cursor: pointer;
			display: none;
		}
		.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%; 
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}




/* home */

.home{
  height: calc(100vh - 3rem);
  grid-row-gap: 1rem;
}
.home_data{
  align-self: center;
}
.home_title{
  font-size: var(--big-font-size);
  margin-bottom: 10px;
  transition: 1s;
}
.home_title-color{
  color: var(--firs-color);
  transition: 1s;
}

.head{
	background-image: url(background.png);
	background-size: cover;
}

button{
	width: 80px;
	height: 45px;
	border-radius: 6px;
	background: no-repeat;
	font-size: 20px;
	border: 2px solid var(--firs-color);
}
button:hover{
	background-color: var(--second-color);
	transition: .7s;
	color: #fff;
	border: 2px solid var(--second-color);
}


@media (max-width: 768px){


	nav #icon{
		display: block;
	}
	label.logo{
		color: #fff;
	}
	nav ul{
		position: fixed;
		width: 70%;
		height: 100%;
		background-color:#000;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	nav li{
		display: block;
		margin: 50px 0;
		line-height: 30px;

	}
	nav a{
		font-size: 20px;
		color: #fff;

	}
	.navbar a.active, .navbar a:hover{
			border: 1px solid #fff;
			transition:.5s; 
		}
	nav ul.show{
		left:0;
	}
	.navbar1{
		background-color: var(--second-color);
		color: white;
		padding: 15px;
		transition: .5s;
		margin: all 15px;
	}
	.navba1 a{
		color: white;

	}

}
.navbar1{
		background-color: var(--second-color);
		color: white;
		padding: 15px;
		transition: .5s;
		margin: all 15px;
	}

	.about{
		width: 100%;
		height: 900px;
		background-color: #343a40;
		color: #fff;
	}
#about_title{
	padding-top: 70px;
	font-size: 3rem;
}
#icon_about{
	font-size: 1.2rem;
}
.skills{
	width: 100%;
	height: 1500px;
	background-color:#6c757d;
	position: relative;
}
.bar{
  width: 300px;
  background-color: #ddd;
  height: 20px;
}

.skills_bar {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
.title_skills{
	color: #20c997;
	text-shadow: -2px 1px 4px rgba(0, 0, 0, 0.97);
}
.text_skills{
	color: #fff;
	font-size: 1.1rem;
	text-shadow: -1px 1px 4px rgba(0, 0, 0, 0.97);
}
.html {width: 90%; background-color: #FF4500;}
.css {width: 80%; background-color: #00BFFF;}
.js {width: 65%; background-color: #FFD700;}
.php {width: 60%; background-color: #8A2BE2;}

.python {width: 85%; background: linear-gradient(520deg, #FF0000 50%, #FF4500 100%);}
.c{width: 60%; background-color: #00BFFF;}
.pygame{width: 88%; background-color: #7FFF00;}
.django{width: 70%; background-color: #20c997;}
.panda{width: 40%; background-color: #DC143C;}
.protagesql{width: 45%; background-color: #20c997;}
.mysql{width: 60%; background-color: #20c997;}
.ux{width: 89%; background-color: #007bff;}
.webdesain{width: 90%; background-color:#007bff;}
	.templete_bar{
		margin-bottom: 30px;
		display: block;
		margin-left: 0;
	}
	.templete_bar1{
		margin-bottom: 30px;
		display: block;
		margin-left: 0;
	}
	.templete_bar2{
		margin-bottom: 30px;
		display: block;
		margin-left: 0;
	}
	.templete_bar3{
		margin-bottom: 30px;
		display: block;

	}
	.templete_bar4{
		margin-bottom: 30px;
		display: block;
		margin-left: 0;

	}
	.team{
	position: relative;
    width: 100%;
    overflow: hidden;
    height: 700px;
	background: linear-gradient(520deg, #4a62ff 50%, #9335ff 100%);
	position:relative;
}


#instagram{
	background-color: #343a40;
}
#instagram:hover{
	background-color: #20c997;
	transition: .5s;
}
#website{
	background-color: #343a40;
}
#website:hover{
	background-color: #20c997;
	transition: .5s;
}
#youtube{
	background-color: #343a40;
}
#youtube:hover{
	background-color: #20c997;
	transition: .5s;
}
.contact{
	width: 100%;
	height: 900px;
	position: relative;
	background-color:#455a64;

}
#contact_text{
	padding-top: 70px;
	font-size: 3rem;
}
#question{
	width: 330px;
}
#text_contact{
	width: 300px;
}
#contact1{
	margin-left: 0;

}
#icon_contact{
	width: 300px;
	background-color: #343a40;
	border: 1px solid #343a40;
}
#icon_contact:hover{
	background-color: #20c997;
	transition: .5s;
}
#icon_contact1{
	font-size: 1.7rem;
}
@media (min-width: 768px){
	.about{
	width: 100%;
	height: 700px;
	background-color: #343a40;
	color: #fff;
	position: relative;
}
#about_title{
	padding-top: 70px;
	font-size: 3rem;
}
.about_date{
	margin: 90px;
	margin-left:70px; 
	display: inline-block;
}
.about_text{
	display: inline-block;
	width: 500px;
	position: absolute;
	margin: 60px;
}
.skills{
	width: 100%;
	height: 1000px;
}
.bar{
	width: 250px;
}
#skill_subtitel{
	padding-top: 70px;
	margin-bottom: 40px;
}
.templete_bar{
	display: inline-block;
	margin-right: 10px;
}
.templete_bar1{
	display: inline-block;
	margin-left: 10px;
}
.templete_bar2{
	display: inline-block;
	margin-left: 10px;
}
.templete_bar3{
	display: inline-block;
	margin-right: 25px;
}
.templete_bar4{
	display: inline-block;
	margin-left: 25px;
}
.garis{
	width: 300px;
}
.img_contact{
	position: absolute;
    content: '';
  	display: inline-block;
    top: 40px;
    left: 0;
    height:200px;
    width: 400px;
    margin: 150px;
   
}
#contact1{
	display: inline-block;
	margin-left: 500px;
	width: 500px;
	margin-bottom: 180px;
}
#icon_contact{
	width: 500px;
}

}